/*关于东泰*/
.pic_about{
	margin: 10px auto 30px auto;
}

.about_text{
	line-height: 30px;
}

/*产品详情 */	
.back_container{
	padding-top: 40px;
}

.go_back{
	border-radius: 60px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
	color: #fff !important;
}

.product_detail{
	padding: 4em !important;
}

.detail_pic{
	margin-top: 1em;
	margin-bottom: 1em;
}

@media (max-width: 600px) {
	.product_detail h2{
		font-size: 1em;
	}
}

/*@media (max-width: 414px) {
	.product_detail h2{
		line-height: 0px;
	}
}*/

@media (max-width: 320px) {
	.product_detail h2{
		font-size: 0.725em;
	}
}

@media (min-width: 992px){
	header.masthead {
	    height: 50vh!important;
    	min-height: 30rem !important;
	    padding-top: 72px;
	    padding-bottom: 0;
	}
}